
@font-face {
    font-family: "MCBold";
    src: url("fonts/Bold.otf") format("opentype");
}

@font-face {
    font-family: "MCBoldItalic";
    src: url("fonts/BoldItalic.otf") format("opentype");
}

@font-face {
    font-family: "MCItalic";
    src: url("fonts/Italic.otf") format("opentype");
}

@font-face {
    font-family: "MCRegular";
    src: url("fonts/Regular.otf") format("opentype");
}

body {
    background-color: #dfdfdf;
    cursor: url("images/cursor.png"), auto;
    margin: 0;
}

.rule-page {
    background: cp;;
    background-repeat: no-repeat;
    background-position: center;
}



h1 {
    color: white;
    text-align: center;
    font-family: "MCBold", sans-serif;
    margin: 10px 0;
    text-shadow: 3px 3px rgba(63,63,63,1)
}

h2 {
    color: white;
    font-family: "MCBoldItalic", sans-serif;
    margin: 10px 0;
    text-shadow: 3px 3px rgba(63,63,63,1)
}

h3 {
    color: white;
    text-align: center;
    font-family: "MCBold", sans-serif;
    margin: 10px 0;
    text-shadow: 2px 2px rgba(63,63,63,1)
}

p {
    font-family: "MCRegular", monospace;
    font-size: 20px;
    text-align: center;
    margin: 5px 0;
    color: white;
    text-shadow: 2px 2px rgba(63,63,63,1)
}

.top-bar {
    width: 100%;
    position: fixed;
    background-color: #333;
    height: 57px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 11px;
        box-shadow:
        inset -2px -4px #0006,
        inset 2px 2px #fff7;
    z-index: 100;
}

.top-bar nav {
    display: flex;
    gap: 14px;
    z-index: 1;
}

.top-bar nav a {
    font-size: 1.2em;
    color: white;
    font-family: "MCBold", monospace;
    text-decoration: none;
}

.top-bar nav a:hover {
    text-decoration: underline;
    font-family: "MCBoldItalic", monospace;
}

.minecraft-title {
    position: absolute;
    top: -1px;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    z-index: 2;
    transition: opacity 0.5s ease;
}

.top-title-small {
    height: 60px;
    top: 14;
    position: absolute;
    right: 31px;
    opacity: 0;
    transition: opacity 0.5s ease;
}



.top-title-small-default {
    margin-top: 0px;
    height: 60px;
    position: absolute;
    right: 31px;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.content {
    padding: 15px;
}

.image-container {
    position: relative;
    width: 100%;
    box-shadow:
         outset -2px -4px #0006,
         outset 2px 2px #fff7;;
}

.smp-image {
    width: 100%;
    height: 685px;
    object-fit: cover;
    display: block;

}

.image-container .mc-button {
    position: absolute;
    scale: 1.4;
    transform: translate(-50%, -50%);
    z-index: 2;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.small-text {
    color: darkgray;
    font-family: "MCItalic", sans-serif;
    font-size: 1.2rem;
    margin: 0;
    text-shadow: 2px 2px rgba(63,63,63,1)
}

/* Button CSS */
.button-wrapper {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-button-wrapper {
    scale: 1.2;
    position: absolute;
    bottom: 10;
    transform: translateX(-50%);
    left: 50%;
    z-index: 50;
}


.mc-button {
    cursor: pointer;
    height: var(--btn-size);
    width: calc(var(--btn-size) * 10);
    background: #999 url("https://i.ibb.co/rb2TWXL/bgbtn.png") center / cover;
    image-rendering: pixelated;
    border: 2px solid #000;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow:
        inset -2px -4px #0006,
        inset 2px 2px #fff7;
}


.small-text {
    color: darkgray;
    font-family: "MCItalic", sans-serif;
    text-align: center;
    font-size: 1.2rem;
    margin: 0;
    width: 100%;
    text-shadow: 2px 2px rgba(63,63,63,1)
}

.mc-button-link {
    display: block;
}

.title-button-wrapper {
    position: absolute;
    top: 265px;
    transform: translateX(-50%);
    
    z-index: 50;
}

.mc-button {
    height: var(--btn-size);
    width: calc(var(--btn-size) * 10);
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    user-select: none;
    background: #999 url("https://i.ibb.co/rb2TWXL/bgbtn.png") center / cover;
    image-rendering: pixelated;
    border: 2px solid #000;
    display: inline-block;
}

.mc-button:hover .title {
    background-color: rgba(100, 100, 255, 0.45);
    text-shadow: 2px 2px rgba(63,63,63,1);
    color: #ffffa0;
}

.mc-button:active .title {
    box-shadow:
        inset -2px -4px #0004,
        inset 2px 2px #fff5;
}

.mc-button .title {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.5em;
    font-size: 2.5;
    font-family: MCRegular, monospace;
    color: #ddd;
    text-shadow: 2px 2px #000a;
    box-shadow:
        inset -2px -4px #0006,
        inset 2px 2px #fff7;
}

.mc-button.full {
    width: 100%;
}

.mc-button.lang img {
    width: 26px;
    height: 26px;
}

.mc-button.lang .title {
    padding-bottom: 0;
}

/* hover effect (features) */
.square-with-text:hover {
    transform: translateY(-6px) scale(1.05);
}


/* Squares */
.square-row {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    align-items: flex-start;
    width: 100%,;
}

.square-with-text {
    width: 200px;
    display: flex;
    flex-direction: column;
    
        transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.square {
    width: 119%;
    aspect-ratio: 1 / 1;
    border: 4px solid #0006;
    overflow: hidden;
    background: #00000033;
    box-sizing: border-box;

}

.square img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    box-shadow:
        inset -4px -4px #ffffff,
        inset 4px 4px #3e3e3e;
}

.square-text {
    margin-top: 8px;
    padding: 12px;
    width: 119%;
    background: #9d9d9d;
    color: white;
    font-family: "MCRegular", sans-serif;
    font-size: 0.9rem;
    line-height: 1.2;
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    box-shadow:
        inset -4px -4px #ffffff,
        inset 4px 4px #3e3e3e;
}

.square-text h3 {
    margin: 0 0 6px 0;
    font-family: "MCBold", sans-serif;
}

.staff-section {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 40px auto;
    width: 80%;
    max-width: 900px;
}

/* Main staff card */
.staff-card {
    display: flex;
    gap: 20px;
    padding: 15px;
    background: #9d9d9d;
    /*border: 2px solid #000;*/
    box-shadow:
        inset -4px -4px #ffffff,
        inset 4px 4px #3e3e3e;
    align-items: center;
}

.staff-card {
    transition: transform 0.25s ease;
}

.staff-card:hover {
    transform: translateY(-6px) scale(1.05);
}

/* Main rule card */
.rule-card {
    display: flex;
    gap: 20px;
    padding: 15px;
    background: #9d9d9d;
    /*border: 2px solid #000;*/
    box-shadow:
        inset -4px -4px #ffffff,
        inset 4px 4px #3e3e3e;
    align-items: center;
}

.join-card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 38px;
    background: #9d9d9d;
    box-shadow:
        inset -4px -4px #ffffff,
        inset 4px 4px #3e3e3e;
    text-align: center;
}

.changelog-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    padding: 22px;
    background: #9d9d9d;
    box-shadow:
        inset -4px -4px #ffffff,
        inset 4px 4px #3e3e3e;
    text-align: center;
}

.rule-info h2 {
    font-family: "MCBold", sans-serif;
    margin: 0 0 5px 0;
    font-size: 1.4rem;
    color: white;
    text-shadow: 2px 2px rgba(63,63,63,1)
}

.rule-img {
    width: 100px;
    height: 100px;
}

.rule-card {
    transition: transform 0.25s ease;
}

.rule-card:hover {
    transform: translateY(-6px) scale(1.01);
}


/* Opposite direction (image on right) */
.staff-card.reverse {
    flex-direction: row-reverse;
}

/* Staff images */
.staff-img {
    width: 120px;
    height: 120px;
    border: 2px solid black;
    object-fit: cover;
    background: #00000033;
    box-shadow:
     4px 4px black,
    
}

/* Text area */
.staff-info h2 {
    font-family: "MCBold", sans-serif;
    margin: 0 0 5px 0;
    font-size: 1.4rem;
    color: white;
    text-shadow: 2px 2px rgba(63,63,63,1)
}

.staff-info p {
    font-family: "MCRegular", sans-serif;
    margin: 0;
    font-size: 1rem;
    color: white;
    line-height: 1.3;
    text-shadow: 2px 2px rgba(63,63,63,1)
}

/* Video Container */
.video-wrapper {
    display: flex;
    gap: 20px;
    padding: 15px;
    background: #9d9d9d;
    box-shadow:
        inset -4px -4px #ffffff,
        inset 4px 4px #3e3e3e;
    position: relative;
    width: max-content;
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-top: 19px; 
}

.side-btn {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-btn img {
    width: 200%;
    height: 200%;
    image-rendering: pixelated;
}

.side-btn.left {
    left: -60px;
}

.side-btn.right {
    right: -60px;
}

.side-btn:hover img {
    filter: brightness(1.3);
}

.side-btn.right img {
    transform: scaleX(-1);
}
.rule-info {

}

.image-join {
    width: 500px;
    height: 500px;
    border: 4px solid #0006;
}

.image-changelog {
    width: 931px;
    height: 400px;
    border: 4px solid #0006;
    object-fit: cover;
}

.image-join-console {
    width: 900px;
    height: 500px;
    border: 4px solid #0006;
}

i {
    font-family: "MCRegular", monospace;
    color: white
}

.changelog-container {
    position: relative;
    display: inline-block;
}

.changelog-title {
    position: absolute;
    bottom: 9px;
    left: 10px;
    margin: 0;
    color: white;
    font-size: 30px;
}


.changelog-menu {
    margin: 22px auto 20px auto;
    width: 80%;
    text-align: center;
}

.changelog-menu h2 {
    font-size: 1.6rem;
    color: white;
    font-family: "MCBold", sans-serif;
    text-shadow: 3px 3px rgba(63,63,63,1);
    margin-bottom: 10px;
}

.changelog-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.changelog-btn {
    background: #9d9d9d;
    padding: 10px 18px;
    font-family: "MCRegular", monospace;
    color: white;
    text-decoration: none;
    border: 3px solid #0006;

    box-shadow:
        inset -3px -3px #ffffff,
        inset 3px 3px #3e3e3e;

    transition: transform 0.2s ease;
}

.changelog-btn:hover {
    transform: translateY(-4px) scale(1.05);
    text-shadow: 2px 2px rgba(63,63,63,1);
}

.changelog-timestamp {
    font-family: "MCItalic", monospace;
    color: #e6e6e6;
    font-size: 18px;
    margin-top: 5px;
    text-shadow: 2px 2px rgba(63,63,63,1);
}

/* Two-column layout */
.two-column-layout {
    display: flex;
    gap: 25px;
    margin-top: 90px; /* prevents overlap with top bar */
    padding: 20px;
}

/* Left sidebar */
.changelog-sidebar {
    width: 286px;
    background: #9d9d9d;
    padding: 20px;
    box-shadow:
        inset -4px -4px #ffffff,
        inset 4px 4px #3e3e3e;
    height: fit-content;
    position: sticky;
    top: 90px;
}

.changelog-sidebar h2 {
    font-family: "MCBold", sans-serif;
    color: white;
    text-shadow: 3px 3px rgba(63,63,63,1);
    text-align: center;
    margin-bottom: 15px;
}

.sidebar-item {
    display: block;
    width: 90%;
    padding: 10px;
    font-family: "MCRegular", monospace;
    background: #7b7b7b;
    margin-bottom: 10px;
    color: white;
    text-decoration: none;
    border: 3px solid #0006;
    text-align: center;
    box-shadow:
        inset -3px -3px #ffffff,
        inset 3px 3px #3e3e3e;
    transition: transform 0.15s ease;
}

.sidebar-item:hover {
    transform: translateY(-3px) scale(1.03);
    color: #ffffa0;
}

/* Right side */
.changelog-right {
    flex: 3;
    left: 10;
}

/* Timestamp */
.changelog-timestamp {
    font-family: "MCItalic", monospace;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
    color: #eee;
    font-size: 18px;
    text-shadow: 2px 2px rgba(63,63,63,1);
}


.join-card {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

